div.objet-conteneur {
  z-index: 10;
}
section#builder div.objet-conteneur {
  position: absolute;
}
section#renderer div.objet-conteneur {
  /* Pas de position, sinon overflow ne fonctionne pas */
}
div.objet-conteneur:not(.selected){
  border:1px solid transparent;
}

.selected {
  border:1px solid green;
}
