section#footer {
  position:fixed;
  bottom:0;
  left:0;
  background-color:grey;
  color:white;
  width:100%;
  text-align: right;
  padding-top:8px;
  padding-bottom:4px;
  z-index: 4000;
}
section#footer * {
  color:white;
  background-color:grey;
}
/* Tous les boutons de controleur */
section#footer button.ctrl {
  all: initial;
}

/* Pour le message */
section#footer input#console {
  /* display:inline-block; */
  float: left;
  margin-left:12px;
  width:400px;
  font-size: 11pt;
  font-family: inherit;
  background-color: black;
  text-align: left;
  padding: 1px 4px;
}
/* L'horloge pour afficher le temps pendant qu'on joue la vidéo */
section#footer input#horloge {
  background-color:black;
  font-family: monospace;
  font-size:10pt;
  width:70px;
  text-align:center;
  float:left;
}

section#renderer {
  border: 4px solid blue;
  background-color: #00FF00;
  overflow: hidden;
}
section#builder {
  background-color: black;
  width: 100%;
  position:relative;

}

div#counter {
  position: fixed;
  right: 4px;
  top: 4px;
  font-size: 30pt;
  font-family: Monospace;
  width: 60px;
  text-align: center;
  padding: 4px;
  background-color: black;
  color:white;
}

section#timeline {
  position:fixed;
  bottom:35px;
  left:4px;
  height:50px;
  width:100%;
  background-color:black;
}
section#timeline div#cursor {
  position: absolute;
  height:50px;
  width:3px;
  background-color:green;
  top:0;
  left:0;
}
